$base-color: rgb(160, 48, 55);
@mixin flexColumn {
    display: flex;
    flex-direction: column;
}
@mixin flexRow {
    display: flex;
    flex-direction: row;
    
}
@mixin boxWidth {
    width: 60%;
    border: 1px solid rgb(185, 184, 184);
}
.cartDisplay{
    @include flexRow();
    padding-top: 65px;
    justify-content: center;
    width: 100%;

}
.cartDisplayContainer{
    padding-top: 50px;
    @include flexRow();
    width: 100%;

}
.blank{
    @include flexRow();
    width: 15%;
}
.cartMainBody
{
    @include flexColumn();
    width: 100%;
}
.cartItem{
    min-height: 235px;
    overflow: auto;
   @include boxWidth();
   @include flexColumn();
}
.cartHeading{
    @include flexRow();
    justify-content: flex-start;
    padding: 20px;
    font-size:18px;
    font-weight: 600;
    padding-bottom: 0px;
}
.cartBody{
    @include flexColumn();
    height: 100px;

}
.cartImage{
    display: flex;
    height: 100%;
}
.cartDetail{
    @include flexColumn();
    flex-grow: 5;
    height: 100%;
    
}
.quantityContainer{
    @include flexRow();
    justify-content: flex-start;
    align-items: center;;
}
.noOfItems{
    width: 40px;
    height: 60%;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    margin-left: 8px;
    margin-right: 8px;
}
.removeMessage{
    padding-left: 12px;
    padding-bottom: 4px;
}
.cartButton{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 15px;
    padding-right: 20px;
    
}
.cartButtonContinue{
    display: flex;
    justify-content: flex-end;
}
.CustomerDetails{
    @include boxWidth();
    height: 50px;
    @include flexRow();
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}
.orderSummary{
    width: 60%;
    padding-top: 15px;
    border: 1px solid #b9b8b8;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    min-height: 50px;
    align-items: flex-start;
}
.messageDetais{
    padding-left: 15px;
    font-weight: 600;
    font-size: 18px;
}
.CostumerDetailContainer{
    @include flexRow();
    @include boxWidth();
    margin-top: 15Px;
}
.CostumerDetailContainerBody{
    @include flexColumn();
    padding: 25px;
    width: 500px;

}
.CostumerDetailSideNav{
    @include flexColumn();
    padding: 25px;
    justify-content: space-between;

}
.textfieldBody{
    width: 100%;
    padding-bottom: 20px;
    @include flexRow();
}
.textFieldBodyOne{
    padding-right: 2%;
    width: 48%;
}
.textFieldBodyTwo{
    width: 98%;
}
.customerAddress{
    @include flexRow();
    justify-content: flex-start;
    padding-bottom: 10px;
}

.radioContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.radioBodyType{
  @include flexRow();
}
.radioBody{
    @include flexRow();
}
.CustomerDetailsHeading{
    padding-bottom:10px;
    font-size:18px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
}
.DisplayCart{
    @include flexRow();
    height: 100%;
    padding: 20px;
}
.cartBookDetails{
    @include flexColumn();
    justify-content: flex-start;
}
.CartBookImage{
    height: 100%;
    width: 100%;
}
.DisplayCartBookImage{
    display: flex;
    justify-content: center;
    width: 80px;
    margin-right: 20px;
}
.cartFooter{
    margin-top: 104px;
}
.form{
    display: flex;
}
.TypePlace{
    text-align: initial;
}
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $base-color; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $base-color; 
  }
  .orderCheck{
      display: flex;
      justify-content: flex-end;
      padding:0px 0px 15px 15px;
  }
  .orderSummaryBody{
      display: flex;
      flex-direction: column;
      width: 97%;
  }

  @media only screen and (max-width: 500px) {
    .CostumerDetailContainerBody{
        width: 200px;
        padding: 5px;
    }
    @mixin boxWidth {
        width: 90%;
        border: 1px solid rgb(185, 184, 184);
    }
}
@media only screen and (max-width: 900px) {
    .CostumerDetailContainerBody{
        width: 300px;
        padding: 5px;
    }
    .CostumerDetailSideNav{
        padding: 5px;
    }

}
@media only screen and (max-width: 500px) {
    .cartDisplayContainer {
        padding-top: 20px;
    }
    .blank{
    display: none;
    }
    .cartItem{
        width: 99%;
        min-height: 400px;
    }
    .CustomerDetails{
        width: 99%;
    }
    .cartFooter {
        margin-top: 10px;
    }
    .cartButton {
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }
}
