@mixin flexColumn {
    display: flex;
    flex-direction: column;
}
@mixin flexRow {
    display: flex;
    flex-direction: row;
    
}
@mixin boxWidth {
    width: 70%;
    border: 1px solid rgb(185, 184, 184);
}
.cartDisplay{
    @include flexRow();
    padding-top: 65px;
    justify-content: center;
    width: 100%;

}
.cartDisplayContainer{
    padding-top: 50px;
    @include flexRow();
    width: 100%;

}
.blank{
    @include flexRow();
    width: 15%;
}
.cartMainBody
{
    @include flexColumn();
    width: 100%;
}
.cartItem{
    min-height: 210px;
    overflow: auto;
   @include boxWidth();
   @include flexColumn();
}
.cartHeading{
    @include flexRow();
    justify-content: flex-start;
    padding: 20px;
    font-size:18px;
    font-weight: 600;
}
.cartBody{
    @include flexRow();
    padding-left: 20px;
    padding-right: 20px;
    height: 100px;

}
.cartImage{
    display: flex;
    
    padding-right: 20px;
    height: 80%;
    
   

}
.cartDetail{
    @include flexColumn();
    flex-grow: 5;
    height: 100%;
    
}
.quantityContainer{
    @include flexRow();
    justify-content: flex-start;
    align-items: center;;
}
.noOfItems{
    width: 40px;
    height: 60%;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    margin-left: 8px;
    margin-right: 8px;
}
.removeMessage{
    padding-left: 12px;
    padding-bottom: 4px;
}
.cartButton{
    display: flex;
    justify-content: flex-end;
}
.CustomerDetails{
    @include boxWidth();
    height: 50px;
    @include flexRow();
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}
.messageDetais{
    padding-left: 15px;
    font-weight: 500;
}
.CostumerDetailContainer{
    @include flexRow();
    @include boxWidth();
    margin-top: 15Px;
}
.CostumerDetailContainerBody{
    @include flexColumn();
    padding: 25px;
    width: 80%;

}
.CostumerDetailSideNav{
    @include flexColumn();
    padding: 15px;
    justify-content: space-between;

}
.textfieldBody{
    width: 100%;
    padding-bottom: 20px;
    @include flexRow();
}
.textFieldBodyOne{
    padding-right: 2%;
    width: 40%;
}
.textFieldBodyTwo{
    width: 82%;
}
.customerAddress{
    @include flexRow();
    justify-content: flex-start;
    padding-bottom: 10px;
}
.editform{
    padding:10px;
}
.radioContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.radioBodyType{
  @include flexRow();
}
.radioBody{
    @include flexRow();
}
.CustomerDetailsHeading{
    padding-bottom:10px;
    font-size:18px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
}
.DisplayCart{
    @include flexRow();
    height: 100%;
}
.cartBookDetails{
    @include flexColumn();
    justify-content: flex-start;
}
.CartBookImage{
    height: 100%;
    width: 100%;
}
.DisplayCartBookImage{
    display: flex;
    justify-content: center;
    width: 80px;
}
.form{
    display: flex;
}
.TypePlace{
    text-align: initial;
}