@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
$base-color: rgb(160, 48, 55);
$max-width:100%;
@mixin flex-center {
    display: flex;
    justify-content: center;
}
@mixin flexColumn {
    display: flex;
    flex-direction: column;
}
@mixin flexRow {
    display: flex;
}
@mixin flex-row-center {
    display: flex;
    justify-content: center; 
}
@mixin btn {
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 13px;
    padding-left: 13px;
    font-size: small;
    border-radius: 4px;
}

.appBar{
    @include flexRow();
    width: $max-width;
    height: 65px;
    position: fixed;
    top: 0px;
    background-color:$base-color ;
    z-index: 100;
}
.heading{
    font-size: 22px;
    color: mintcream;
    @include flex-row-center();
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
    padding-right:8% ;
    font-family: 'Roboto' ;
    
}
.searchBarContener{
    flex-grow: 4;
    @include flexRow();
    justify-content: flex-start;
    align-items: center;



.searchBody{
    width: 65%;
    height: 50%;
    @include flexRow();
    justify-content: flex-start;
    align-items: center;
    background-color :mintcream;
    border-radius: 4px;
}
.searchIcon{
    padding-left: 2%;
    opacity: 0.61;
}
.inputBox{
    width: $max-width;
    font-size: smaller;
}

}
.cartlogoutContainer{
    flex-grow: 1;
    @include flexRow();
    justify-content: space-around;
    color: mintcream;
}
.cartContainer{
    @include flexRow();
    justify-content: flex-start;
    align-items: center;
    .cart{
        padding: 4%;  
    }

}
.body{
   @include flex-row-center();
    padding-top: 65px;
    flex-direction: column;
    align-items: center;
}
.bookscount{
    width: 72%;
    @include flexRow();
    justify-content: space-between;
    padding-top: 2.5%;
    padding-bottom: 1%;
}
.noOfBooks{
    font-size: small;
    color: lightgray;

}
.headingcount{
    font-family: 'Roboto' Regular;
    font-size: 24px;
    font-weight: 500;
}
.booksBodyContainer{
    width: 75%;
    @include flexRow();
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: 510px;
}

.container{
    @include flexRow();
    position: relative;
    .bookDetailsContainer{
        display: none;
    }
    
}
.bookDetailsContainer{
   @include flexColumn();
    justify-content: flex-start;
    width:  275px;
    min-height: 100px;
     max-width: 475px;
    max-height: 370px;
    border: 1px groove #e9e4e4;
    margin-top: 10px;
    border-radius: 6px;
    background-color: #FFFFFF;
    position: absolute;
    left: 270px;
    z-index: 1;
    padding: 15px;
    overflow: auto;
}
.bookDetailsheading{
   @include flexRow();
    font-size: 20px;
    font-weight: 500;
}
.bookDetails{
    @include flexRow();
    font-size: 12px;
    padding-top: 10px;
    text-align: left;
    opacity: 0.9;
}

.bookcell{
    width: 248px;
    height: 310px;
    border: 1px groove rgb(235, 235, 235);
    @include flexColumn();
    border-radius: 3px;
    margin: 15px;
    position: relative; 
}
.bookcell{
    &:hover {
        
        box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
    }
}
.container{
    &:hover {
        .bookDetailsContainer{
                display: flex;
             }
    }
}
.wishlist{
    color: black;
    border: 1px solid grey;
    @include btn;
    
}
.wishlisted{
    color: black;
    border: 1px solid grey;
    @include btn;
    width: $max-width;
    
}
.Addbag{
    @include btn;
    background-color: $base-color;
    color:mintcream;
    border: none;
    
}
.AddedToBag{  
    @include btn;
    background-color: rgb(51, 113, 181);
    color: white;
    border: 1px solid grey;
    width: $max-width;
    .buttonCotainer{
        .wishlist{
            display: none;
        }
    }
   
}


.imageContainer{
  width: $max-width;
  height: 56%;
  background-color: rgb(241, 241, 241);
 @include flex-row-center();
  align-items: center;
}
.imageUserBook{
    width: 110px;
    height: 130px;
}
.bookNameContainer{
    @include flexColumn();
    justify-content: flex-start;
}
.bookDiscription{
    padding:17px;
    @include flexColumn();
}
.buttonCotainer{
   @include flexRow();
    justify-content: space-between;

}
.bookname{
    font-size: 15px;
    @include flexRow();
    font-weight: 500;
    font-family: 'Roboto' ;

}
input[type="button"]{
    outline:none;
 }
 input[type="button"]::-moz-focus-inner {
    border: 0;
 }
.Auther{
    @include flexRow();
    font-size: 11px;
    color: lightslategrey;
    font-family: revert;
}

.price{
    @include flexRow();
    padding-top: 4px;
    padding-bottom: 12px;
    font-size: 13px;
    font-family: revert;
    font-weight: 700;
}
.MuiButton-containedPrimary{
    background-color:$base-color !important;
}

.selectOptionCntainer{
    width: 180px;
    height: 30px;
    text-align: left;
    font: Medium 31px/40px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    text-indent: 15px;
}
.countInCart{
    color: $base-color;
    border-radius: 50%;
    width: 13px;;
    height: 13px;
    background-color: white;
    font-size: small;
    position: absolute;
    top: 5px;
    right: 5px;

}
.cartOutLine{
    color: white;
}
.outOfStock{
    color: black;
    background-color: white;
    position: absolute;
    top: 25%;
    right: 16%;
    width: 60%;
    font-weight: 500;
    height: 20px;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px lightgrey;
   @include flex-row-center();
}
.pagination{
    @include flex-row-center();
    width: inherit;
    margin: 40px;
}
.MuiPaginationItem-textSecondary.Mui-selected{
    background-color:$base-color !important;
}
@media only screen and (max-width: 1002px) {
   
}
@media only screen and (max-width: 500px) {
    .bookscount{
        width: 92%;
    }
    .heading {
        padding-right:0 ;
    }
    .searchBarContener {
        flex-grow: 2;
        @include flex-row-center();
        align-items: center;
       
    }
    .searchBarContener {
       .inputBox{
           display: none;
       }
       .searchBody{
        @include flex-row-center();
           border-radius: 50%;
           background-color: $base-color;
           color: rgb(255, 255, 255);
       }
    }
    .booksBodyContainer{
        @include flex-row-center();
        min-height: 480px;
    }
   
    
}