$base-color: rgb(160, 48, 55);
@mixin btn {
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 13px;
    padding-left: 13px;
    font-size: small;
    border-radius: 4px;
}

.appBar{
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0px;
    background-color:$base-color ;
    display: flex;
    flex-direction: row;
    z-index: 100;
}
.heading{
    font-size: 22px;
    color: mintcream;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
    padding-right:8% ;
    
}
.searchBarContener{
    flex-grow: 4;
    display: flex;
    justify-content: flex-start;
    align-items: center;



.searchBody{
    width: 65%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color :mintcream;
    border-radius: 4px;
}
.searchIcon{
    padding-left: 2%;
    opacity: 0.61;
}
.inputBox{
    width: 100%;
    font-size: smaller;
}

}
.cartContainer{
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: mintcream;;
    .cart{
        padding: 4%;
       
    }

}
.body{
    display: flex;
    justify-content: center;
    padding-top: 65px;
    flex-direction: column;
    align-items: center;
}
.bookscount{
    width: 78%;
    display: flex;
    justify-content: space-between;
    padding-top: 2.5%;
    padding-bottom: 1%;
    margin-right: 10px;
}
.noOfBooks{
    font-size: small;
    color: lightgray;

}
.headingcount{
    font-size: 24px;
    font-weight: 500;
}
.booksBodyContainer{
    width: 81%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/////////////////////
.container{
    display: flex;
    flex-direction: row;
    position: relative;
    .bookDetailsContainer{
        display: none;
    }
    
}
.bookDetailsContainer{
    flex-direction: column;
    justify-content: flex-start;
    min-width: 200px;
    min-height: 100px;
    max-width: 475px;
    max-height: 370px;
    border: 1px groove #e9e4e4;
    margin-top: 10px;
    border-radius: 6px;
    background-color: #FFFFFF;
    position: absolute;
    left: 270px;
    z-index: 1;
    padding: 15px;
    overflow: auto;
}
.bookDetailsheading{
    display: flex;
    font-size: 20px;
    font-weight: 500;
}
.bookDetails{
    display: flex;
    font-size: 12px;
    padding-top: 10px;
    text-align: left;
    opacity: 0.9;
}

.bookcell{
    width: 248px;
    height: 310px;
    border: 1px groove rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    margin: 10px;
    position: relative;

   
    
}
.bookcell{
    &:hover {
        
        box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);

        // .bookDetailsContainer{
        //     display: block;
        // }
    }
}
.container{
    &:hover {
        .bookDetailsContainer{
                display: flex;
             }
    }
}
.Addbag{
    @include btn;
    background-color: $base-color;
    color:mintcream;
    border: none;
    
}
.AddedToBag{
    @include btn;
    background-color: rgb(51, 113, 181);
    color: white;
    border: 1px solid grey;
    width: 100%;
}
.wishlist{
    color: black;
    border: 1px solid grey;
    @include btn;
    
}
.imageContainer{
  width: 100%;
  height: 56%;
  background-color: rgb(241, 241, 241);
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageUserBook{
    width: 110px;
    height: 130px;
}
.bookNameContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.bookDiscription{
    padding:17px;
    display: flex;
    flex-direction: column;
}
.buttonCotainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.bookname{
    font-size: 16px;
    display: flex;
    font-weight: 500;
    font-family: revert;

}
.Auther{
    display: flex;
    font-size: 11px;
    color: lightslategrey;
    font-family: revert;
}

.price{
    display: flex;
    padding-top: 4px;
    padding-bottom: 12px;
    font-size: 13px;
    font-family: revert;
    font-weight: 700;
}
.MuiButton-containedPrimary{
    background-color:$base-color !important;
}

.selectOptionCntainer{
    width: 180px;
    height: 30px;
    text-align: left;
    font: Medium 31px/40px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    text-indent: 15px;
}
.countInCart{
    color: $base-color;
    border-radius: 50%;
    width: 13px;;
    height: 13px;
    background-color: white;
    font-size: small;
    position: absolute;
    top: 5px;
    right: 5px;

}
.cartOutLine{
    color: white;
}
.outOfStock{
    color: black;
    background-color: white;
    position: absolute;
    top: 25%;
    right: 16%;
    width: 60%;
    font-weight: 500;
    height: 20px;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px lightgrey;
}
.pagination{
    display: flex;
    justify-content: center;
    width: inherit;
    margin: 40px;
}
.MuiPaginationItem-textSecondary.Mui-selected{
    background-color:$base-color !important;
}