$max-width:100%;
$quater-px:25px;
@mixin flex-center {
    display: flex;
    justify-content: center;
}
@mixin flexColumn {
    display: flex;
    flex-direction: column;
}
@mixin flexRow {
    display: flex;
}
.mainContainer {
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    margin: 60px auto;
    background-color: #fff;
    border: 1px solid #dadce0;
    min-height: 540px;
    width: 480px;
    border-radius: 8px;
    @include flex-center();
  }
  .bodyContainer{
    padding: 25px;
    @include flex-center();
  }
  
  .fundoofont {
	@include flex-center();
	font-size: $quater-px;
	font-weight: 500;
    padding: 1px 10px 22px 10px;
}
.f {
	color: #4285F4;
}
.u {
	color: #DB4437;
}
.n {
	color: #F4B400;
}
.d {
	color: #4285F4;
}
.o {
	color: #0F9D58;
}
.oo {
	color: #DB4437;
}

.signup{
   opacity: 0.81;
   padding-left: 10px;
}

.text1{
   @include flexRow();
    width: $max-width;
   
}
.textRow1{
   @include flexColumn();
    width: 49%;
}
.textRow2{
    @include flexColumn();
    width: 49%;
    padding-left: 2%;
}
.text{
    @include flexColumn();
}
.textColumn2{
    padding-top: 20px;
}
.text3{
    @include flexRow();
    padding-top: 20px;
}
.button{
    @include flexRow();
    padding-top: 20px;
    justify-content: space-between;
}
.textColumn2{
    width: 100%;
}
.passwordHint{
    opacity: 0.6;
    font-size: 14px;
    padding-left:10px ;
}
::-webkit-textfield-decoration-container[type="email"]::placeholder {  
    text-align: right; 
} 

img {
    width: 244px;
    height: 244px;
}
.figCaption{
font-size: 16px;
font-weight: 300;
text-align: center;

}
.figureBox{
    padding-left: 48px;
}
.image{
    margin: 72px 4px 0;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    .mainContainer{
        border:none;
        margin: 0px auto;
        box-shadow: 0px 0px 0px;
        width: 100%;
        
    }
    .sideImageBox{
        display: none;
    }
    .fundoofont {
        justify-content: center;

    }
    .p1{
        justify-content: center;
    }
    .textFieldBody{
        flex-wrap: wrap;
    }
    .text1{
            display: flex;
            flex-wrap: wrap;
    }
    .textRow2{
        margin-left: 0px;
        padding-top: 20px;
    }
    .text3{
        display: flex;
        flex-wrap: wrap;
    }
    .bodyContainer{
        padding: 5px 10px 10px;
    }
    .textRow1{
        width:100%;
    }
    .textRow2{
        width:100%;
        padding-left: 0%;
    }
}