.smainContainer {
    background-color: #fff;
    border: 1px solid #dadce0;
    margin: 100px auto;
    align-items: center;
    height: 440px;
    max-width: 450px;
    border-radius: 8px;
    display: block,
  }
  .sloginContainer{
    padding: 30px 40px 36px;
    display: flex;
    flex-grow: 1;
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    
  }
  .buttonContainer{
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 30px;
  }
  .textField1{
      padding-top: 20px;
  }

  .error{
    color: red;
    font-size: 14px;
  }
  @media only screen and (max-width: 500px) {
    .smainContainer{
        border:none;
        margin: 20px auto;
        
    }
   
}