.updateContainer{
    display: flex;
    flex-direction: column;
    width: 99%;
    padding:1%;
}
.textfield{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
}
.textFieldOne{
    display: flex;
 padding-right: 10px;
}
.textFieldTwo{
    padding-left: 10px;
    display: flex;
}
.MuiTypography-h6{
    text-align: center;
    background-color: maroon;
    color: white;
    height: 50px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.MuiDialogActions-root{
    justify-content: center;
}
.MuiDialogTitle-root{
    padding: 0px !important;
}