$max-width:100%;
@mixin flexrow {
    display: flex;
    justify-content: center;
}
@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

.wishListEmptyMessage{
    width: $max-width;
}
.wishListMainContainer{
   @include flexColumn();
    justify-content: center;
    align-items: center;
}
.wishListContainer{
    padding-top: 95px;
    @include flexrow();
    width: 80%;
    min-height: 200px;
}
.wishListBody{
    @include flexColumn();
    width: $max-width;
    border: 1px solid lightgray;
}
.wishListBook{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footerContener{
    width:  $max-width;
    padding-top: 31.5%;
}

@media only screen and (max-width: 500px) {
    
    .wishListContainer{
        padding-top: 65px;
        width:  $max-width;
        min-height: 300px;
        padding-bottom: 97px;
    }
    .container {
        @include flexrow();
    }
    .cartHeading {
        @include flexrow();
    }

}