@mixin flexrow {
    display: flex;
    justify-content: center;
}
@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

.wishListMainContainer{
   @include flexColumn();
    justify-content: center;
    align-items: center;
}
.wishListContainer{
    padding-top: 95px;
    @include flexrow();
    width: 85%;
    min-height: 200px;
}
.wishListBody{
    @include flexColumn();
    width: 100%;
    border: 1px solid lightgray;
}
.wishListBook{
    display: flex;
    flex-wrap: wrap;
}
.footerContener{
    width: 100%;
    padding-top: 82px;
}

@media only screen and (max-width: 500px) {
    .pagination {
        width: auto;
    }
    .wishListContainer{
        padding-top: 65px;
        width: 100%;
    }
    .container {
        display: flex;
      justify-content: center;
    }
    .cartHeading {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}